<div class="site-wrap" id="home-section">
    <div class="owl-carousel-wrapper">

        <div class="box-92819">
            <h1 class="text-white mb-3">About Us</h1>
            <p class="lead text-white">We are team of people who work towards bringing awareness in people about healthy
                society and living in harmony with nature</p>
        </div>
        <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_1.jpg');"></div>

    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../assets/images/img_2.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto">
                    <h3 class="text-cursive mb-4">Our Mission</h3>
                    <p>Our Mission is to create a society where every individual person live as a member of nature than
                        ruling over nature, Our Mission is to bring awareness that the natural resources are finite and
                        we should use resources in a responsible way, and do not do any wastage.</p>

                    <p>You too can contribute by sharing any ideas which will help our society to meet our mission. To contribute by sharing your ideas you contact us by clicking below link:</p>
                    <p><a routerLink="/contactus" class="btn btn-primary rounded-0 px-4">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="text-cursive">Our Team</h2>
                </div>
            </div>
            <div class="row align-items-stretch">

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        <a href="#" class="d-inline-block">
                            <img src="../../../assets/images/person_1.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Founder and Director</span>
                            <h2>Vidyabhushan Panchmukhi</h2>
                        </div>
                    </div>
                </div>
                

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        <a href="#" class="d-inline-block">
                            <img src="../../../assets/images/person_4.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Co-Founder</span>
                            <h2>Arvind Kumar</h2>
                        </div>
                    </div>
                </div>
                

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        <a href="#" class="d-inline-block">
                            <img src="../../../assets/images/person_3.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Social Media Partner</span>
                            <h2>Bablu Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        <a href="#" class="d-inline-block">
                            <img src="../../../assets/images/person_5.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">IT Head</span>
                            <h2>Avinash Anchal</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        <a href="#" class="d-inline-block">
                            <img src="../../../assets/images/person_2.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Head of Events</span>
                            <h2>Sonia Grover</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        <a href="#" class="d-inline-block">
                            <img src="../../../assets/images/person_6.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Media Partner</span>
                            <h2>Madhwesh Rai</h2>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">

            <div class="row mb-5 align-items-st">
                <div class="col-md-4">
                    <div class="heading-20219">
                        <h2 class="title text-cursive">Latest Events</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <p></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" *ngFor="let about of eventsList">
                    <div class="cause shadow-sm">

                        <a href="#" class="cause-link d-block">
                            <img [src]="about.eventImgPath" alt="Image" class="img-fluid">
                        </a>

                        <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                            <h3 class="mb-4"><a href="#">{{about.eventName}}</a></h3>
                            <div class="border-top border-light border-bottom py-2 d-flex">
                                <h4>Date</h4>
                                <div class="ml-auto"><strong class="text-primary">{{about.dateCreated | date}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>