<div class="site-wrap" id="home-section">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  <header class="site-navbar site-navbar-target bg-secondary shadow" role="banner">

    <div class="container">
      <div class="row align-items-center position-relative">


        <div class="site-logo">
          <a routerLink="" class="text-white">
            <img class="img-fluid" style="height: 67px;" src="../../../assets/images/logo.png">
            Developed India</a>
        </div>


        <nav class="site-navigation text-left ml-auto " role="navigation">
          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=""
                class="nav-link">Home</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="aboutus"
                class="nav-link">About Us</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="events"
                class="nav-link">Our Events</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="blog"
                class="nav-link">Blog</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="contactus"
                class="nav-link">Contact</a></li>
            <li *ngIf="authService.loggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                routerLink="admin" class="nav-link">Admin Panel</a></li>
            <li *ngIf="authService.loggedIn" (click)="logout()"><a routerLink="contactus" class="nav-link">Log Out</a>
            </li>
            <li *ngIf="!authService.loggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                routerLink="auth" class="nav-link ml-3" (click)="createProfile()">
                <mat-icon>account_circle</mat-icon>
              </a></li>
          </ul>
        </nav>


        <div class="ml-auto toggle-button d-inline-block d-lg-none">
          <a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white">
            <span class="icon-menu h3 text-white">
            </span>
          </a>
        </div>
      </div>
    </div>

  </header>
</div>
<!-- 
<mat-toolbar>
  <span>
    <img class="img-fluid py-2" style="height: 67px;" src="../../../assets/images/logo.png">
    Developed India
  </span>
  <div class="spacer">

  </div>
  <a mat-button routerLink="">Home</a>
  <a mat-button routerLink="">About Us</a>
  <a mat-button routerLink="">Servces</a>
  <a mat-button routerLink="">Contact Su</a>
  <a mat-button routerLink="">Blogs</a>
  <a routerLink=""></a>

</mat-toolbar> -->