<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item [routerLink]="item.link" *ngFor="let item of links"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{ item.name }} 
            </a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div (click)="sidenav.toggle()" class="toggleSideNav">
            <mat-icon *ngIf="!sideNavOpened" (click)="sideNavFun()">toggle_off</mat-icon>
            <mat-icon *ngIf="sideNavOpened" (click)="sideNavFun()">toggle_on</mat-icon>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>