mat-sidenav-container{
    height: 100%;
}
mat-sidenav,mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    background-color:#EBFFD8;
    width: 25%;
}
.active{
    background-color: #D8FEFF;
}

.toggleSideNav{
    cursor: pointer;
}