<div class="container my-5">
  <a routerLink="add-new-blog" class="btn btn-danger">Add new Blog</a>
</div>

<table mat-table [dataSource]="blogsList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="blog">
      <th mat-header-cell *matHeaderCellDef> Blog </th>
      <td mat-cell *matCellDef="let element">
        <span>... <a routerLink="1">Read More</a></span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="imgUrl">
        <th mat-header-cell *matHeaderCellDef> IMGURL </th>
        <td mat-cell *matCellDef="let element"> {{element.imgUrl}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>