example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  .text-overflow{
    height: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text{ 
    overflow: hidden; 
    text-overflow: ellipsis; 
      
    /* The number of lines to be displayed */ 
    -webkit-line-clamp: 4;  
    -webkit-box-orient: vertical; 
}