<!-- <div class="owl-carousel-wrapper">

  <div class="box-92819">
      <h1 class="text-white mb-3">Developed India Movement</h1>
    </div>
  
    <div class="owl-carousel owl-1 ">
      <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_1.jpg');"></div>
      <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_2.jpg');"></div>
      <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_3.jpg');"></div>
      
    </div>
</div> -->
<div class="owl-carousel-wrapper">

  <!-- <div class="box-92819">
      <h2 class="text-white mb-3">Developed India is a state of mind. When we change our way of life to humanity that is the day we can say we live in a Developed country. So no infrastructure can change the status of a country. It is just our way of thinking and way of living in harmony with nature which decides whether we are developed or under developed or developing.</h2>
  </div> -->
  <div class="box-92819">
    <h1 class="text-white mb-3">Developed India !!</h1>
    <p class="lead text-white">Developed India is a state of mind. When we change our way of life to humanity that is
      the day we can say we live in a Developed country. So no infrastructure can change the status of a country. It is
      just our way of thinking and way of living in harmony with nature which decides whether we are developed or under
      developed or developing.</p>
  </div>

  <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/homeimg.jpg');"></div>

</div>


<div class="site-section">
  <div class="container">

    <div class="row mb-5 align-items-st">
      <div class="col-md-4">
        <div class="heading-20219">
          <h2 class="title text-cursive">Latest Events</h2>
        </div>
      </div>
      <div class="col-md-8">
        <p></p>
      </div>
    </div>

    <div class="card-group mb-5">
      <div class="card" *ngFor="let event of eventsList; index as i">
        <img class="card-img-top" [src]="event.eventImgPath" height="200" width="auto" alt="image">
        <div class="card-body">
          <h5 class="card-title">{{event.eventName}}</h5>
          <p class="card-text"><small class="text-muted">Date updated: {{event.dateCreated | date}}</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-center h-100">
          <a routerLink="events" class="card-text d-flex flex-column">
            <span class="align-self-center">Show More</span>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="row my-5 align-items-st">
        <div class="col-md-4">
          <div class="heading-20219">
            <h2 class="title text-cursive">Latest Blogs</h2>
          </div>
        </div>
        <div class="col-md-8">
          <p></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3" *ngFor="let blog of blogsList; index as i">
          <div class="card" style="width: 18rem;" *ngIf="i<=3">
            <div class="card-body">
              <h4 class="card-title mt-2 mb-5 display-5">{{blog.title}}{{i}}</h4>
              <h6 class="card-subtitle mb-2">By: 
                <span class="text-muted">
                {{blog.author}}
              </span></h6>
              <a routerLink="blog/{{i}}" class="card-link py-1">Read Blog</a>
              <p class="card-text"><small class="text-muted">Date updated: {{blog.dateCreated | date}}</small></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card  h-100">
            <div class="card-body d-flex align-items-center justify-content-center">
              <a routerLink="blog" class="card-title d-flex flex-column">
                <span class="align-self-center"></span> Show More
              </a>
            </div>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>

  </div>
</div>