<!-- <div class="owl-carousel-wrapper">

  <div class="box-92819">
      <h1 class="text-white mb-3">Developed India Movement</h1>
    </div>
  
    <div class="owl-carousel owl-1 ">
      <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_1.jpg');"></div>
      <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_2.jpg');"></div>
      <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_3.jpg');"></div>
      
    </div>
</div> -->
<div class="owl-carousel-wrapper">

  <!-- <div class="box-92819">
      <h2 class="text-white mb-3">Developed India is a state of mind. When we change our way of life to humanity that is the day we can say we live in a Developed country. So no infrastructure can change the status of a country. It is just our way of thinking and way of living in harmony with nature which decides whether we are developed or under developed or developing.</h2>
  </div> -->
  <div class="box-92819">
    <h1 class="text-white mb-3">Developed India !!</h1>
    <p class="lead text-white">Developed India is a state of mind. When we change our way of life to humanity that is
      the day we can say we live in a Developed country. So no infrastructure can change the status of a country. It is
      just our way of thinking and way of living in harmony with nature which decides whether we are developed or under
      developed or developing.</p>
  </div>

  <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/homeimg.jpg');"></div>

</div>
<!--<div class="corosol">
  <owl-carousel-o [options]="customOptions">
    <div class="box-92819">
      <h1 class="text-white mb-3">Developed India Movement</h1>
    </div>
    <ng-template carouselSlide>
      <img src="../../../assets/images/hero_1.jpg" class="img-fluid" alt="">
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/images/hero_2.jpg" class="img-fluid" alt="">
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/images/hero_3.jpg" class="img-fluid" alt="">
    </ng-template>
  </owl-carousel-o>
</div> -->



<div class="container">
  <div class="feature-29192-wrap d-md-flex" style="margin-top: -30px; position: relative; z-index: 2;">

    <a routerLink="#" class="feature-29192 overlay-danger"
      style="background-image: url('../../../assets/images/img_3_gray.jpg');">
      <div class="text">
        <h3 class="text-cursive text-white h1">Livelihood</h3>
      </div>
    </a>

    <a class="feature-29192 overlay-success" style="background-image: url('../../../assets/images/img_2_gray.jpg');">
      <div class="text">
        <h3 class="text-cursive text-white h1">Natural Remedies</h3>
      </div>
    </a>

    <div class="feature-29192 overlay-warning" style="background-image: url('../../../assets/images/img_1_gray.jpg');">
      <div class="text">
        <h3 class="text-cursive text-white h1">New Class Rooms</h3>
      </div>
    </div>

  </div>
</div>

<div class="site-section">
  <div class="container">

    <div class="row mb-5 align-items-st">
      <div class="col-md-4">
        <div class="heading-20219">
          <h2 class="title text-cursive">Latest Events</h2>
        </div>
      </div>
      <div class="col-md-8">
        <p></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="cause shadow-sm">

          <a routerLink="#" class="cause-link d-block">
            <img src="../../../assets/images/img_1.jpg" alt="Image" class="img-fluid">
            <div class="custom-progress-wrap">
              <span class="caption">80% complete</span>
              <div class="custom-progress-inner">
                <div class="custom-progress bg-danger" style="width: 80%;"></div>
              </div>
            </div>
          </a>

          <div class="px-3 pt-3 border-top-0 border border shadow-sm">
            <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">School</span>
            <h3 class="mb-4"><a routerLink="#">Alias Odit Ipsam Quas Unde Obcaecati</a></h3>
            <div class="border-top border-light border-bottom py-2 d-flex">
              <div>Donated</div>
              <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
            </div>

            <div class="py-4">
              <div class="d-flex align-items-center">
                <img src="../../../assets/images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">

        <div class="cause shadow-sm">

          <a routerLink="#" class="cause-link d-block">
            <img src="../../../assets/images/img_2.jpg" alt="Image" class="img-fluid">
            <div class="custom-progress-wrap">
              <span class="caption">80% complete</span>
              <div class="custom-progress-inner">
                <div class="custom-progress bg-primary" style="width: 80%;"></div>
              </div>
            </div>
          </a>

          <div class="px-3 pt-3 border-top-0 border border shadow-sm">
            <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Health</span>
            <h3 class="mb-4"><a routerLink="#">Alias Odit Ipsam Quas Unde Obcaecati</a></h3>
            <div class="border-top border-light border-bottom py-2 d-flex">
              <div>Donated</div>
              <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
            </div>

            <div class="py-4">
              <div class="d-flex align-items-center">
                <img src="../../../assets/images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-4">

        <div class="cause shadow-sm">

          <a routerLink="#" class="cause-link d-block">
            <img src="../../../assets/images/img_3.jpg" alt="Image" class="img-fluid">
            <div class="custom-progress-wrap">
              <span class="caption">80% complete</span>
              <div class="custom-progress-inner">
                <div class="custom-progress bg-warning" style="width: 80%;"></div>
              </div>
            </div>
          </a>

          <div class="px-3 pt-3 border-top-0 border border ">
            <span class="badge-warning py-1 small px-2 rounded mb-3 d-inline-block">Livelihood</span>
            <h3 class="mb-4"><a routerLink="#">Alias Odit Ipsam Quas Unde Obcaecati</a></h3>
            <div class="border-top border-light border-bottom py-2 d-flex">
              <div>Donated</div>
              <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
            </div>

            <div class="py-4">
              <div class="d-flex align-items-center">
                <img src="../../../assets/images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>