<div class="site-wrap" id="home-section">

  <div class="site-section">
    <div class="container">

      <div class="row mb-5 align-items-st">
        <div class="col-md-5">
          <div class="heading-20219">
            <h2 class="title text-cursive mb-4">Events</h2>
            <p>Videos and pictures including event deails of all the events which our team has successfully completed and details of our upcoming events</p>
          </div>
        </div>

        <div class="col-md-7">
          <div class="cause shadow-sm">

            <a class="cause-link d-block">
              <img src="../../../assets/images/img_1.jpg" alt="Image" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
      <h2 class="title text-cursive mb-5">Our Events</h2>

      <div class="row">
        <div class="col-md-4" *ngFor="let event of eventsList">

          <div class="cause shadow-sm">

            <a href="#" class="cause-link d-block">
              <img [src]="event.eventImgPath" alt="Image" class="img-fluid">
            </a>
            <div class="px-3 d-flex my-3">

              <div class="bg-primary p-2 d-inline-block text-center rounded mr-4 date">
                  <!-- <span class="text-white h3 m-0 d-block">22</span> -->
                  <span class="text-white small">{{event.dateCreated | date}}</span>
              </div>

              <div>
                  <h3>{{event.eventName}}</h3>
              </div>
          </div>
            <div class="px-3">
              <p class="mb-4">{{event.eventDescription}}</p>
            </div>

          </div>

        </div>

        <!-- <div class="col-12">
          <span class="p-3">1</span>
          <a href="#" class="p-3">2</a>
          <a href="#" class="p-3">3</a>
          <a href="#" class="p-3">4</a>
        </div> -->
      </div>
    </div>
  </div>

<div>

</div>