<div class="row m-5">
    <div class="col-md-12">
        <form #eventForm="ngForm" (ngSubmit)="onPostBlog(eventForm)">

            <div class="form-group">
                <label for="name">Enter your full name</label>
                <input type="text" class="form-control" id="author" name="author" ngModel placeholder="Enter Blog Name">
            </div>
            <div class="form-group">
                <label for="title">Blog Title</label>
                <input type="text" class="form-control" id="title" name="title" ngModel placeholder="Enter Blog Title">
            </div>
            <div class="form-group">
                <label for="blog">Enter your Blog:</label>
                <textarea class="form-control" rows="8" id="blog" name="blog" ngModel placeholder="Enter Your Blog">
                </textarea>
            </div>
            <!-- <div class="form-group">
                <label for="imgUrl">Enter Image url</label>
                <input type="url" class="form-control" id="imgUrl" name="imgUrl" ngModel placeholder="Enter Url">
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="alert alert-success" role="alert" *ngIf="success">
            Form submitted successfully :)
        </div>
    </div>
</div>