<div class="site-wrap" id="home-section">
    <div class="owl-carousel-wrapper">

        <div class="box2-92819">
            <h1 class="text-white mb-3">Blogs</h1>
            <p class="lead text-white"><b>Developed India Blogs</b></p>
        </div>

        <div class="ftco-cover-1 overlay" style="background-image: url('../../../assets/images/hero_2.jpg');"></div>

    </div>

    <div class="site-section">
        <div class="container">
            <div class="heading-20219 mb-5">
                <h2 class="display-4 text-cursive">Blogs:</h2>
            </div>
            <div class="row">
                <div class="col-md-6" *ngFor="let blog of blogList">
                    <div class="event-29191 mb-5 shadow-lg">
                        <!-- <a href="#" class="d-block mb-3"><img [src]="blog.imgUrl" alt="Image"
                                class="img-fluid rounded"></a> -->
                        <!-- <div class="px-3 d-flex">

                            <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                                <span class="text-white h3 m-0 d-block">22</span>
                                <span class="text-white small">{{blog.dateCreated | date}}</span>
                            </div>

                            <div>
                                <h3>{{blog.title}}</h3>
                            </div>
                        </div> -->
                        <div class="row blogHeight">
                            <div class="col-md-3">
                                <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                                    <!-- <span class="text-white h3 m-0 d-block">22</span> -->
                                    <span class="text-white small">{{blog.dateCreated | date}}</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div>
                                    <h2>{{blog.title}}</h2>
                                </div>
                                <div class="text">
                                    {{blog.blog}}
                                </div>
                                <span>... <a [routerLink]="blog.id">Read More</a></span>
                            </div>
                        </div>
                        <div class="p-2">Views: <span class="shadow-lg">
                                {{blog.count===null?'0':blog.count}}
                            </span>
                            <h4 class="border rounded"><span class="text-primary"> Author: </span>
                                {{blog.author}}
                            </h4>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-12 text-center">
                    <span class="p-3">1</span>
                    <a href="#" class="p-3">2</a>
                    <a href="#" class="p-3">3</a>
                    <a href="#" class="p-3">4</a>
                </div> -->

            </div>
        </div>
    </div>

</div>